<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nike Colombia - Catalogo</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Nike Original</a>
            <a href="historia.html">Historia</a>
            <a href="catalogo.html">Catálogo</a>
            <a href="formulario.html">Formulario</a>
        </nav>
    </header>

    <section class="catalog">
        <div class="product-card">
            <img src="../assets/imagenes/NikeDunkLowRetro.jpg" alt="Nike Dunk Low Retro Negra">
            <h3>Nike Dunk Low Retro</h3>
            <p class="price">$100.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/AirJordan1LowSilver.jpg" alt="Air Jordan Retro 1 Low">
            <h3>Air Jordan Retro 1 Low "Silver"</h3>
            <p class="price">$200.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/NikeP6000.jpg" alt="Nike P-6000">
            <h3>Nike P-6000</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/NikeAirForce1'07.jpg" alt="Nike P-6000">
            <h3>Nike Air Force 1'07</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/JordanSpizikeLow.jpg" alt="Nike P-6000">
            <h3>Jordan Spizike Low</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/NikeDunkLowUnlockedByYou.jpg" alt="Nike P-6000">
            <h3>Nike Dunk Low Unlocked By You</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/AirJordan1HighMethodOfMake.jpg" alt="Nike P-6000">
            <h3>Air Jordan 1 High Method Of Make</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/GammaForce.jpg" alt="Nike P-6000">
            <h3>Nike Gamma Force</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="../assets/imagenes/NikeBlazerLow'77ByYou.jpg" alt="Nike P-6000">
            <h3>Nike Blazer Low '77 By You</h3>
            <p class="price">$150.000</p>
            <button>Comprar</button>
        </div>
    </section>    

    <footer>
        <div class="footer-container">
            <div class="redes-sociales">
                <h2>Redes Sociales</h2>
                <ul>
                    <li><a href="https://www.instagram.com/nike/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/nike" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>

            <div class="informacion-contacto">
                <h2>Información de Contacto</h2>
                <p>Correo electrónico: <a href="mailto:likeempresa@gmail.com">likeempresa@gmail.com</a></p>
                <p>Teléfono: +57 320 472 9287</p>
                <p>Dirección: Calle 3 sur 2-13</p>
            </div>
        </div>
        <p>&copy; 2024 Nike</p>
    </footer>
</body>
</html>
