<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nike Colombia - Registrarme</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="historia.html">Historia</a>
            <a href="catalogo.html">Catálogo</a>
            <a href="formulario.html">Formulario</a>
        </nav>
    </header>
    <div class="container-body">
        <div class="column text-column">
            <h1>Registrarme</h1>
            <h2>Complete el formulario para crear una cuenta</h2>
            <form action="#" method="post" enctype="multipart/form-data">
                <div>
                    <label for="nombre">Ingrese su nombre</label>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <div>
                    <label for="apellido">Ingrese sus apellidos</label>
                    <input type="text" id="apellido" name="apellido">
                </div>
                <div>
                    <label for="correo">Ingrese su correo</label>
                    <input type="email" id="correo" name="correo">
                </div>
                <div>
                    <label for="contraseña">Ingrese Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña">
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div class="column image-column">
            <img src="../assets/imagenes/nikegif.gif" alt="Nike">
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="redes-sociales">
                <h2>Redes Sociales</h2>
                <ul>
                    <li><a href="https://www.instagram.com/nike/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/nike" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>
            <div class="informacion-contacto">
                <h2>Información de Contacto</h2>
                <p>Correo electrónico: <a href="mailto:likeempresa@gmail.com">likeempresa@gmail.com</a></p>
                <p>Teléfono: +57 320 472 9287</p>
                <p>Dirección: Calle 3 sur 2-13</p>
            </div>
        </div>
        <p>&copy; 2024 Nike</p>
    </footer>
</body>
</html>
