<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nike Colombia</title>
</head>
<header>
    <nav>
        <a href="index.html">Inicio</a>
        <a href="historia.html">Historia</a>
        <a href="catalogo.html">Catálogo</a>
        <a href="formulario.html">Formulario</a>
    </nav>
</header>
<body>
    <div class="container-body">
        <div class="column text-column">
            <!--<img src="imagenes/nikegif.gif" alt="Nike">-->
            <h1>Nuestra Historia</h1>
            <p>
                Somos uno de los mayores prveedores de calzado y
                prendas deportivas, y uno de los mas importantes fabricantes de
                material deportivo, fundada en 1964 por 
                Bill Bowerman, entrenador de atletismo, y Phil Knight exalumno del primero,
                decidieron saltar a la apasionada vida que les esperaba con la empresa Nike. 
                Inicialmente operaba bajo el nombre de Blue Ribbon Sports, 
                la empresa abrió su primera tienda de venta al público en 1966 y presentó la marca de zapatillas Nike en 1972. 
                La empresa pasó a llamarse Nike, Inc. en 1978 y salió a bolsa dos años más tarde. 
                
                A principios del siglo XXI, Nike tenía ya presencia a escala mundial con tiendas y distribuidores en más de 170 países, y su emblemático logotipo curvado, conocido como «swoosh», era reconocido en todo el mundo.
                A finales de la década de 1990 y principios de la de 2000, Nike diversificó su línea de productos y amplió su negocio a través de varias adquisiciones, como Cole Haan, Converse, Canstar Sports y Umbro. En 1996, la empresa creó Nike ACG, una marca centrada en deportes extremos como el snowboard y el ciclismo de montaña. Además, a principios del siglo XXI, Nike empezó a vender accesorios de tecnología deportiva como pulsómetros portátiles y brújulas de muñeca de gran altitud.
                
                Una parte importante del éxito de Nike puede atribuirse a sus asociaciones con destacados atletas 
                como Michael Jordan, Mia Hamm, Roger Federer y Tiger Woods.
            </p>
            <a href="https://nike.com.co">nike.com.co</a>
        </div>
        <div class="column image-column">
            <video controls autoplay muted src="../assets/videos/jdi.mp4"></video>
        </div> 
    </div>
    <footer>
        <div class="footer-container">
            <div class="redes-sociales">
                <h2>Redes Sociales</h2>
                <ul>
                    <li><a href="https://www.instagram.com/nike/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/nike" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>

            <div class="informacion-contacto">
                <h2>Información de Contacto</h2>
                <p>Correo electrónico: <a href="mailto:likeempresa@gmail.com">likeempresa@gmail.com</a></p>
                <p>Teléfono: +57 320 472 9287</p>
                <p>Dirección: Calle 3 sur 2-13</p>
            </div>
        </div>
        <p>&copy; 2024 Nike</p>
    </footer>
</body>
</html>