<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Nike Colombia</title>
</head>
<header>
    <nav>
        <a href="historia.html">Historia</a>
        <a href="catalogo.html">Catálogo</a>
        <a href="formulario.html">Formulario</a>
    </nav>
</header>
<body>
    <div class="container-body">
        <div class="column text-column">
            <img src="../assets/imagenes/nikegif.gif" alt="Nike">
            <p>
                Empresa multinacional Estadounidense dedicada al diseño, desarrollo, fabricacion
                y comercializacion de equipamiento deportivo.
            </p>
            <a href="https://nike.com.co">nike.com.co</a>
        </div>
        <div class="column image-column">
            <video controls autoplay muted src="../assets/videos/nikeair.mp4"></video>
        </div> 
    </div>
    <footer>
        <div class="footer-container">
            <div class="redes-sociales">
                <h2>Redes Sociales</h2>
                <ul>
                    <li><a href="https://www.instagram.com/nike/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/nike" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> YouTube</a></li>
                </ul>
            </div>

            <div class="informacion-contacto">
                <h2>Información de Contacto</h2>
                <p>Correo electrónico: <a href="mailto:likeempresa@gmail.com">likeempresa@gmail.com</a></p>
                <p>Teléfono: +57 320 472 9287</p>
                <p>Dirección: Calle 3 sur 2-13</p>
            </div>
        </div>
        <p>&copy; 2024 Nike</p>
    </footer>
</body>
</html>
